# fly.toml app configuration file generated for full-stack-open-pokedex-proud-silence-5787 on 2025-11-19T14:15:03+08:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'full-stack-open-pokedex-proud-silence-5787'
primary_region = 'nrt'

[build]

[processes]
  app = "node app.js"

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[env]
  PORT = "3000"

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1

